=current_user.nickname
さんの投稿
-@post.each do |post|
  =post.vocab
  =post.definition
  =post.example
  =image_tag post.image.url, class: 'vocabimage', size: "170x170"
いいねした投稿
-@user.liked_posts.each do |post|
  = post.user.nickname
  = post.vocab