.show-wrapper{
  width: 100%;
  height: auto;
  border: 2px solid black;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  border-radius: 5px;
  margin: auto;
  .show{
    display: flex;
    &__top{
      width: 100%;
      height: 50%;
      text-align: center;
      margin: auto;
      &--vocab{
        width: 50%;
        height: 100%;
        font-size: 50px;
        font-weight: 450;
        margin:30px auto;
      }
      &--image{
        margin: auto;
      }
    }
    &__bottom{
      width: 100%;
      height: 50%;
      margin-top:60px;
      &--definition{
        width: 70%;
        height: auto;
        margin: auto;
        border-top-style: double;
        border-bottom-style: double;
        padding: 20px 0;
        h3{
          font-size: 20px;
          margin: 20px 0;
          text-align: start;
        }
      }
      &--example{
        width: 50%;
        height: 100%;
        width: 70%;
        height: auto;
        margin: 20px auto;
        border-bottom-style: double;
        padding: 20px 0;
        h3{
          font-size: 20px;
          margin: 0;
          text-align: start;
          margin: 20px 0;
        }
      }
    }
  }

  .show-likes{
    display: flex;
  }
}

