.userindex{
  i{
    margin: 30px 600px 10px;
  }
  .search-form{
    width: auto;
    margin: 50px 550px;
    display: flex;
  }
  .user-list{
    margin: 30px auto;
    height: auto;
    width: 70%;
    font-size: 19px;
    a{
      text-decoration: none;
      color: black;
    }
    table{
      width: auto;
      margin: 30px auto;
    }
    tr{
      padding: 300px;
    }
    th{
      width: 500px;
      border-top: 2px solid lightgrey;
      border-bottom: 2px solid lightgrey;
      border-right: none;
      padding: 10px;
      .userimage{
        border-radius: 50%;
      }
    }
    td{
      width: 400px;
      border-top: 2px solid lightgrey;
      border-bottom: 2px solid lightgrey;
      border-left: none;
      padding: 10px;
      display: flex;
      .follower, .followed, .number-of-posts{
        text-align: center;
        margin-left: 30px;
        font-size: 15px;
        i{
          margin: 0;
        }
      }
    }
  }
}
