%p  みんなの文字
.index
  -@post.each do |post|
    =link_to post_path(post.id) do
      .index-box
        .index-image
          =image_tag post.image.url, class: 'vocabimage', size: "250x250" 
        .index-contents
          .index-contents__vocab
            =post.vocab
          .index-contents__definition
            意味:
            =post.definition
          .index-contents__time
            =post.created_at.strftime("%Y年%m月%d日 %H時%M分")
          -# =link_to user_path(post.id) do
          -#   =post.user.email