.show
  .show__top
    .show__top--vocab
      =@post.vocab
    .show__top--image
      =image_tag @post.image.url, class: 'vocabimage', size: "202x202"
  .show__bottom
    .show__bottom--definition
      =@post.definition
    .show__bottom--example
      =@post.example
  =link_to post_path(@post.id), method: :delete do
    削除
  = link_to '編集', edit_post_path(@post.id), method: :get